$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};

window.bar {
  background: transparent;
  color: $fg-color;
  font-weight: bold;

  > centerbox {
    background: $bg-color;
    border-radius: 10px;
    margin: 8px;
  }

  button {
    border-radius: 8px;
    margin: 2px;
  }
}

.active-window {
  margin: 0 8px;
}

.workspaces {
  button {
    min-width: 30px;
    min-height: 30px;

    &.focused {
      background: $fg-color;
      color: $bg-color;
    }
  }
}

.clock {
  margin: 0 8px;
}
